streamlit
python-docx
beautifulsoup4
spacy
sumy
google-generativeai
huggingface_hub

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl